.offerButtonwithblack {
  color: black;
  border-radius: 13px;
  background-color: transparent;
  height: 35px;
  width: 120px;
}

.offerRide {
  color: white;
    border-radius: 13px;
    background-color: transparent;
    height: 35px;
    width: 112px;
}

  
  
  